################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pizza/FileContentIndex/14179ced-cb4e-4b17-bbc6-0a6f23977914.vsidx
/.vs/Pizza/FileContentIndex/3bbc6f1f-0733-41e5-a685-ca92ac4d2208.vsidx
/.vs/Pizza/FileContentIndex/681d9a5a-c6e9-4ef4-b0a7-f8ebe9bf997a.vsidx
/.vs/Pizza/FileContentIndex/f2e3e2cf-e4e7-4567-b461-2b0780796c2c.vsidx
/.vs/Pizza/DesignTimeBuild/.dtbcache.v2
/.vs/Pizza/FileContentIndex/14179ced-cb4e-4b17-bbc6-0a6f23977914.vsidx
/.vs/Pizza/FileContentIndex/f2e3e2cf-e4e7-4567-b461-2b0780796c2c.vsidx
/.vs/Pizza/FileContentIndex/f80bdaf7-a878-4253-9eb4-9a9020304ec5.vsidx
/.vs/Pizza/FileContentIndex/19a024f1-b10b-4b4b-bd72-c30f4311c42f.vsidx
/.vs/Pizza/FileContentIndex/aaa10de5-3587-4f3c-9606-8f66fc33a100.vsidx
/.vs/Pizza/FileContentIndex/c3470b2c-427a-4f60-a6f6-c73c838c40a0.vsidx
/.vs/Pizza/FileContentIndex/e7f99e88-de0f-4ed0-9869-800eca3edbf5.vsidx
/.vs/Pizza/FileContentIndex/c3fbbac6-3b1e-4123-9d6a-29ce4a9969e2.vsidx
/.vs/Pizza/FileContentIndex/ed37477f-f824-49cf-9b05-bb28574c4cdf.vsidx
/.vs/Pizza/FileContentIndex/f3c159af-4274-436f-9268-1d3d9331f1bb.vsidx

