################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pizza/FileContentIndex/14179ced-cb4e-4b17-bbc6-0a6f23977914.vsidx
/.vs/Pizza/FileContentIndex/3bbc6f1f-0733-41e5-a685-ca92ac4d2208.vsidx
/.vs/Pizza/FileContentIndex/681d9a5a-c6e9-4ef4-b0a7-f8ebe9bf997a.vsidx
/.vs/Pizza/FileContentIndex/f2e3e2cf-e4e7-4567-b461-2b0780796c2c.vsidx
/.vs/Pizza/DesignTimeBuild/.dtbcache.v2
/.vs/Pizza/FileContentIndex/14179ced-cb4e-4b17-bbc6-0a6f23977914.vsidx
/.vs/Pizza/FileContentIndex/f2e3e2cf-e4e7-4567-b461-2b0780796c2c.vsidx
